.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px; 
    height: 90vh;
    width: 1420px;
   margin-left: 10%;
  }
  
  .grid-item {
    background-color: #f0f0f0;
    border-radius: 25px;
    height: 340px;
   width: 272px;
  }
 .maincardcss{
    height: 340px;
    width: 272px;
    border-radius: 25px;
    position: relative;
 }
.ftstcardcontent{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 5px;
    left: 0;
    line-height: 10px;
    padding: 5px;
    margin-left: 5%;
    width: 100%;
    color: white;
    border-radius: 0 0 25px 25px;
} 




@media  screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .maincardcss {
    height: 200px;
  }

  .ftstcardcontent {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .maincardcss {
    height: 150px;
  }

  .ftstcardcontent {
    font-size: 8px;
  }
}


  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
    
    .grid-item {
      min-height: 150px;
    }
  }
   